# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual env
venv/
.env
env/

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Byte-compiled / cache / temp
*.tmp
*.bak

# Model files
model.pkl
*.joblib
